{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">
  
  <!-- 1st card -->
  <div class="card">
    <h1 class="center">DASHBOARD</h1>
    <p class="center">You are currently logged in.</p>
      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
  </div>

  <!-- 2nd card -->
  <div class="card">
    <h2 class="center">Your Info</h2>
    <p>
      <strong>ID: </strong> {{ session['user']['_id'] }}<br>
      <strong>Name: </strong> {{ session['user']['name'] }}<br>
      <strong>Email: </strong> {{ session['user']['email'] }}
    </p>
  </div>
</div>

{% endblock %}